<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            
    
            <ul class="list-unstyled components">
                <h1 class="pl-1">Quiz</h1>
                <li class="active">
                    <a href="in" >Configure</a>
                   
                </li>
                <li>
                    <a href='outcome'>Outcome</a>
                </li>
                <!-- <li>
                    <a href="#" >Questions</a>
                    
                </li>
                 -->
            </ul>
        </nav>
    
    </div>